<!-- <mat-card>
  <form>
    <mat-form-field>
      <input matInput [(ngModel)]="enterTitle" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="7" [(ngModel)]="enterContent"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="savePost()">
      Save Post
    </button>
  </form>
</mat-card> -->
<!-- or -->
<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="savePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="title"
        [ngModel]="post?.title"
        required
        minlength="7"
        #title="ngModel"
        placeholder="Please enter a post title"
      />
      <mat-error *ngIf="title.invalid">{{ errorTitle }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="7"
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel"
        placeholder="Please enter a post content"
      ></textarea>
      <mat-error *ngIf="content.invalid">{{ errorContent }}</mat-error>
    </mat-form-field>
    <div>
      <button mat-button type="button" (click)="filePicker.click()">Pick image <mat-icon>note_add</mat-icon> </button>
      <input type="file" #filePicker>
    </div>
    <button type="submit" mat-raised-button color="primary">Save Post</button>
  </form>
</mat-card> -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="savePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="Please enter a post title"
      />
      <mat-error *ngIf="form.get('title')?.invalid">{{ errorTitle }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="7"
        formControlName="content"
        placeholder="Please enter a post content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">{{ errorContent }}</mat-error>
    </mat-form-field>
    <div>
      <button mat-button type="button" (click)="filePicker.click()">Pick image <mat-icon>attach_file</mat-icon> </button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.image">
    </div>
    <button type="submit" mat-raised-button color="primary">Save Post</button>
  </form>
</mat-card>
